/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.logo-text {
		padding-top: 36px;
	}
	.logo-text p {
		font-size: 15px;
	}	
	.main-header-btn {
		padding: 15px 0px;
		margin-top: 35px;
		max-width: 208px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.logo-text {
		max-width: 100%;
	}
    .logo-text p {
    	font-size: 13px;
    }
    .main-header-btn {
    	max-width: 100%;
    }
    .goods-cont-form input {
    	margin-bottom: 15px;
    } 
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 736px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 667px) {

}
/* Custom, iPhone 5 */
@media only screen and (max-width : 568px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone 6 Plus*/
@media only screen and (max-width : 414px) {

}

/* Custom, iPhone 6 */
@media only screen and (max-width : 375px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.no-padding {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}