body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
p {
  font-size: 18px;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  text-align: center;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 57.69230769px;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 75px;
  }
}
h2 {
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h2 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 27.69230769px;
  }
}
@media only screen and (min-width: 992px) {
  h2 {
    font-size: 36px;
  }
}
h3 {
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 23.07692308px;
  }
}
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 30px;
  }
}
h4 {
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h4 {
    font-size: 14.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 16.92307692px;
  }
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 22px;
  }
}
h5 {
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h5 {
    font-size: 13.33333333px;
  }
}
@media only screen and (min-width: 768px) {
  h5 {
    font-size: 15.38461538px;
  }
}
@media only screen and (min-width: 992px) {
  h5 {
    font-size: 20px;
  }
}
h6 {
  font-weight: 400;
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  h6 {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  h6 {
    font-size: 13.84615385px;
  }
}
@media only screen and (min-width: 992px) {
  h6 {
    font-size: 18px;
  }
}
a {
  line-height: 1.3;
  color: #474747;
  margin: 0 0 10px;
}
@media only screen and (min-width: 320px) {
  a {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  a {
    font-size: 13.84615385px;
  }
}
@media only screen and (min-width: 992px) {
  a {
    font-size: 18px;
  }
}
a:hover {
  text-decoration: underline;
}
.main-headline {
  position: relative;
  font-family: 'Merriweather', serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  color: #0f4360;
  padding-top: 45px;
  margin-bottom: 30px;
}
.main-headline::after,
.main-sub-headline::after {
  content: '';
  display: block;
  position: absolute;
  width: 170px;
  height: 12px;
  left: 50%;
  bottom: 0;
  background: url("images/main-headline-ico-1.png") no-repeat top center;
  margin-left: -85px;
}
.main-headline::after {
  bottom: -34px;
}
.align-right {
  text-align: right;
}
.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.35s ease;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  text-decoration: none;
  color: #fff;
}
.btn:active {
  transform: translateY(2px);
}
.btn-blue {
  color: #236bad;
  font-size: 14px;
  border: 1px solid #236BAD;
  border-radius: 5px;
  background: #EDFBFF;
  transition: 0.35s ease;
}
.btn-blue:hover {
  color: #fff;
  border: 1px solid #fff;
  background: #0f4360;
}
.btn-dark-blue {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  transition: 0.35s ease;
  background: #236cad;
  background: -moz-linear-gradient(270deg, #236cad 45%, #16b1dd 80%);
  background: -webkit-linear-gradient(270deg, #236cad 45%, #16b1dd 80%);
  background: -o-linear-gradient(270deg, #236cad 45%, #16b1dd 80%);
  background: -ms-linear-gradient(270deg, #236cad 45%, #16b1dd 80%);
  background: linear-gradient(0deg, #236cad 45%, #16b1dd 80%);
}
.btn-dark-blue:hover {
  color: #fff;
  background: #236cad;
  background: -moz-linear-gradient(90deg, #236cad 45%, #16b1dd 80%);
  background: -webkit-linear-gradient(90deg, #236cad 45%, #16b1dd 80%);
  background: -o-linear-gradient(90deg, #236cad 45%, #16b1dd 80%);
  background: -ms-linear-gradient(90deg, #236cad 45%, #16b1dd 80%);
  background: linear-gradient(180deg, #236cad 45%, #16b1dd 80%);
}
input,
textarea,
select {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
  padding-left: 20px;
  border: none;
  outline: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/* --- main-header --- */
.main-header {
  position: relative;
  width: 100%;
  min-height: 758px;
  background: url("images/header-bg.png") no-repeat top center;
  z-index: 200;
  margin-bottom: -227px;
}
.main-header h1 {
  padding-top: 68px;
}
.main-header h3 {
  font-size: 22px;
  font-weight: 700;
  color: #1b96ab;
  text-align: center;
  padding: 0 60px;
}
.main-header .container,
.bonus .container {
  position: relative;
  z-index: 100;
}
.main-header:after,
.bonus:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 0;
  display: none;
}
.main-header-btn {
  padding: 15px 45px;
  margin-top: 35px;
}
.logo-top {
  padding-top: 25px;
}
.logo-top img {
  max-width: 100%;
}
.logo-text {
  max-width: 250px;
  padding-top: 43px;
}
.header-phone {
  text-align: right;
  padding-top: 50px;
}
.header-phone a {
  color: #1f2236;
  transition: 0.35s ease;
}
@media only screen and (min-width: 320px) {
  .header-phone a {
    font-size: 12.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  .header-phone a {
    font-size: 14.61538462px;
  }
}
@media only screen and (min-width: 992px) {
  .header-phone a {
    font-size: 19px;
  }
}
.header-phone a:hover {
  color: #DE3C54;
  text-decoration: none;
}
.main-sub-headline {
  max-width: 645px;
  text-align: center;
  margin: 0 auto 30px;
}
@media only screen and (min-width: 320px) {
  .main-sub-headline {
    font-size: 18.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  .main-sub-headline {
    font-size: 21.53846154px;
  }
}
@media only screen and (min-width: 992px) {
  .main-sub-headline {
    font-size: 28px;
  }
}
.del-info {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 55px;
}
@media only screen and (min-width: 320px) {
  .del-info {
    font-size: 14.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  .del-info {
    font-size: 16.92307692px;
  }
}
@media only screen and (min-width: 992px) {
  .del-info {
    font-size: 22px;
  }
}
.main-scr-order {
  position: relative;
  width: 100%;
  min-height: 138px;
  border: 1px solid #FED568;
  border-radius: 5px;
  background: url("images/main-header-small-block-bg.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 22px;
}
.main-header-dark-blue-btn {
  position: absolute;
  max-width: 384px;
  bottom: -38px;
  left: 50%;
  padding: 20px 87px;
  margin-left: -190px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
/* --- about --- */
.about {
  position: relative;
  width: 100%;
  min-height: 2000px;
  background: url("images/about-bg.jpg") no-repeat top center;
  z-index: 10;
  padding-top: 230px;
}
.about-headline {
  margin-bottom: 95px;
}
.about-item {
  position: relative;
  width: 100%;
  min-height: 353px;
  background: url("images/about-item-bg.png") no-repeat top center;
  padding-left: 13px;
  margin-bottom: 147px;
}
.about-item img {
  width: 100%;
}
.about-item-2,
.about-item-4 {
  margin-left: 15px;
}
.about-item-text {
  position: absolute;
  width: 80%;
  height: auto;
  right: 0;
  top: 270px;
  border-radius: 8px 0 0 8px;
  padding: 45px 20px 45px 40px;
  /*background: url("@{dir}about-item-text-bg.png")no-repeat top center;*/
  background: #f0fbff;
  background: -moz-linear-gradient(359deg, #f0fbff 36%, #fcffff 79%);
  background: -webkit-linear-gradient(359deg, #f0fbff 36%, #fcffff 79%);
  background: -o-linear-gradient(359deg, #f0fbff 36%, #fcffff 79%);
  background: -ms-linear-gradient(359deg, #f0fbff 36%, #fcffff 79%);
  background: linear-gradient(89deg, #f0fbff 36%, #fcffff 79%);
}
.about-item-text h3 {
  font-weight: 700;
  color: #0f4360;
}
@media only screen and (min-width: 320px) {
  .about-item-text h3 {
    font-size: 26.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  .about-item-text h3 {
    font-size: 30.76923077px;
  }
}
@media only screen and (min-width: 992px) {
  .about-item-text h3 {
    font-size: 40px;
  }
}
.about-item-text p {
  font-weight: 700;
}
@media only screen and (min-width: 320px) {
  .about-item-text p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .about-item-text p {
    font-size: 13.84615385px;
  }
}
@media only screen and (min-width: 992px) {
  .about-item-text p {
    font-size: 18px;
  }
}
/* --- partners --- */
.partners-headline {
  padding-top: 70px;
}
#partners-slider {
  margin-top: 125px;
}
#partners-slider .owl-prev,
#partners-slider .owl-next,
#testimonials-slider .owl-prev,
#testimonials-slider .owl-next,
#certificates-slider .owl-prev,
#certificates-slider .owl-next {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 50%;
  text-indent: -9999px;
  opacity: 0.5;
  margin-top: -26px;
  transition: all 0.4s;
}
#certificates-slider .owl-prev,
#certificates-slider .owl-next {
  top: 40%;
}
#partners-slider .owl-prev:hover,
#partners-slider .owl-next:hover,
#testimonials-slider .owl-prev:hover,
#testimonials-slider .owl-next:hover,
#certificates-slider .owl-prev:hover,
#certificates-slider .owl-next:hover {
  opacity: 1;
}
#partners-slider .owl-prev,
#testimonials-slider .owl-prev,
#certificates-slider .owl-prev {
  left: -70px;
  background: url("images/part-slider-arrow-prev.png") no-repeat top center;
}
#partners-slider .owl-next,
#testimonials-slider .owl-next,
#certificates-slider .owl-next {
  right: -70px;
  background: url("images/part-slider-arrow-next.png") no-repeat top center;
}
/* --- goods --- */
.goods {
  width: 100%;
  height: auto;
}
.goods h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 32px;
}
.goods-headline {
  padding-top: 75px;
  margin-bottom: 85px;
}
.goods-pic-wrap {
  text-align: center;
  margin-bottom: 35px;
}
.goods-pic-wrap img {
  max-width: 100%;
}
.goods-btn {
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0;
  margin-bottom: 75px;
}
.goods-btn:hover {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.goods-contact-form {
  width: 100%;
  min-height: 540px;
  background: url("images/goods-cont-form-bg.jpg") no-repeat top center;
  background-size: cover;
  padding-top: 245px;
  padding-bottom: 40px;
  margin-top: -234px;
}
.goods-cont-form input {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border-top: 1px solid #77694B;
}
.goods-contact-form-heading {
  max-width: 910px;
  font-size: 30px;
  color: #0f4360;
  text-align: center;
  margin: 0 auto 55px;
}
.goods-contact-form-btn {
  width: 100%;
  height: 60px;
  border: 1px solid #77694B;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
.why-we-are {
  width: 100%;
  min-height: 899px;
  background: url("images/why-we-are-bg.jpg") no-repeat top center;
  margin-bottom: -120px;
}
.why-we-are-headline {
  padding-top: 65px;
  margin-bottom: 95px;
}
.fitures-wrap {
  width: 100%;
  min-height: 538px;
}
.fitures-wrap h3 {
  font-size: 24px;
  padding-top: 5px;
  margin-bottom: 40px;
}
.fitures-wrap-bad {
  background: url("images/fitures-bad-bg.png") no-repeat top right;
  padding-right: 300px;
}
.fitures-wrap-good {
  background: url("images/fitures-good-bg.png") no-repeat top left;
  padding-left: 300px;
}
.fit-item {
  position: relative;
  padding: 5px 0;
}
.fit-item h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.fit-item img {
  position: absolute;
  bottom: 0;
}
.fit-item-good img {
  right: 0;
}
.quality {
  position: relative;
  width: 100%;
  min-height: 2193px;
  background: url("images/quality-bg.png") no-repeat top center;
  padding-top: 150px;
  margin-bottom: -10px;
  z-index: 10;
}
.quality-headline {
  margin-bottom: 95px;
}
.quality-info-block {
  position: relative;
  min-height: 392px;
  margin-bottom: 45px;
}
.quality-pic-wrap {
  width: 100%;
  min-height: 392px;
  overflow: hidden;
}
.quality-pic-wrap-1 {
  background: url("images/quality-info-block-1-bg.png") no-repeat top center;
}
.quality-pic-wrap-2 {
  background: url("images/quality-info-block-2-bg.png") no-repeat top center;
  padding-left: 15px;
}
.quality-text-wrap {
  position: absolute;
  max-width: 750px;
  top: 40px;
  right: 0;
  border: 1px solid #A1DAE4;
  border-radius: 5px;
  padding: 80px 80px 95px 100px;
  background: #ffffff;
  background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.9) 32%, rgba(237, 251, 255, 0.9) 83%);
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.9) 32%, rgba(237, 251, 255, 0.9) 83%);
  background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0.9) 32%, rgba(237, 251, 255, 0.9) 83%);
  background: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0.9) 32%, rgba(237, 251, 255, 0.9) 83%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 32%, rgba(237, 251, 255, 0.9) 83%);
}
.quality-text-wrap p {
  font-size: 18px;
  font-weight: 700;
}
.quality-text-wrap-2 {
  left: 0;
}
.conditions {
  width: 100%;
  min-height: 1189px;
  background: url("images/conditions-bg.jpg") no-repeat top center;
  padding-top: 70px;
}
.conditions-headline {
  max-width: 855px;
  margin: 0 auto 105px;
}
.learn-more-block {
  width: 100%;
  min-height: 250px;
  padding-top: 80px;
}
.learn-more-block-1 {
  background: url("images/learn-more-block-1-bg.jpg") no-repeat top center;
}
.learn-more-block-2 {
  background: url("images/learn-more-block-2-bg.jpg") no-repeat top center;
}
.learn-more-block-3 {
  background: url("images/learn-more-block-3-bg.jpg") no-repeat top center;
}
.learn-more-inner {
  width: 100%;
  min-height: 100px;
  background: rgba(15, 67, 96, 0.8);
  background: -moz-linear-gradient(0deg, rgba(15, 67, 96, 0.8) 44%, #e7f6fb 100%);
  background: -webkit-linear-gradient(0deg, rgba(15, 67, 96, 0.8) 44%, #e7f6fb 100%);
  background: -o-linear-gradient(0deg, rgba(15, 67, 96, 0.8) 44%, #e7f6fb 100%);
  background: -ms-linear-gradient(0deg, rgba(15, 67, 96, 0.8) 44%, #e7f6fb 100%);
  background: linear-gradient(90deg, rgba(15, 67, 96, 0.8) 44%, #e7f6fb 100%);
}
.learn-more-inner h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 83px;
}
.learn-more-inner-2 h3 {
  padding-top: 33px;
}
.learn-more-btn {
  max-width: 370px;
  padding: 25px 105px;
  margin: 17px auto 0;
  border: 1px solid #77694B;
}
.guarentee {
  width: 100%;
  min-height: 811px;
  background: url("images/guarantee-bg.png") no-repeat top center;
}
.guarantee-headline {
  padding-top: 80px;
  margin-bottom: 105px;
}
.guarantee-item {
  position: relative;
}
.guarantee-info {
  position: absolute;
  left: 0;
  bottom: 25px;
  padding-left: 35px;
}
.guarantee-info p {
  font-size: 18px;
  font-weight: 700;
}
/* --- testimonials --- */
.testimonials {
  width: 100%;
  height: auto;
}
.testimonials-headline {
  padding-top: 70px;
  margin-bottom: 80px;
}
.testimonials-slider h3 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 5px;
}
.testimonials-slider h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 35px;
}
.testimonials-slider p {
  line-height: 1.5;
}
.author-comments {
  width: 470px;
  padding-top: 52px;
  padding-left: 100px;
  background: url("images/testimonials-author-comments-bg.png") no-repeat top center;
  border-radius: 5px;
}
.author-block p {
  display: inline-block;
  vertical-align: bottom;
  width: 156px;
  line-height: 1.3;
  padding-top: 75px;
  margin: 0 30px 0 20px;
}
.author-pic {
  display: inline-block;
  vertical-align: bottom;
  width: 138px;
  height: 138px;
  border-radius: 3px;
}
.author-pic img {
  max-width: 100%;
  height: auto;
}
/*--- bonus --- */
.bonus {
  position: relative;
  width: 100%;
  min-height: 915px;
  background: url("images/thinking-form-bg.png") no-repeat top center;
  padding-top: 135px;
  margin-bottom: -50px;
}
.bonus-headline {
  margin-bottom: 70px;
}
.bonus-item-left h3 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  color: #0f4360;
  padding-top: 40px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 320px) {
  .bonus-item-left h3 {
    font-size: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .bonus-item-left h3 {
    font-size: 36.92307692px;
  }
}
@media only screen and (min-width: 992px) {
  .bonus-item-left h3 {
    font-size: 48px;
  }
}
.bonus-item-left span {
  display: block;
  color: #de3c54;
  text-transform: uppercase;
  letter-spacing: 6px;
}
@media only screen and (min-width: 320px) {
  .bonus-item-left span {
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .bonus-item-left span {
    font-size: 69.23076923px;
  }
}
@media only screen and (min-width: 992px) {
  .bonus-item-left span {
    font-size: 90px;
  }
}
.bonus-item-left h4 {
  padding-right: 110px;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 320px) {
  .bonus-item-left h4 {
    font-size: 18.66666667px;
  }
}
@media only screen and (min-width: 768px) {
  .bonus-item-left h4 {
    font-size: 21.53846154px;
  }
}
@media only screen and (min-width: 992px) {
  .bonus-item-left h4 {
    font-size: 28px;
  }
}
.bonus-item-left h4 span {
  font-size: 28px;
  font-weight: 700;
  color: #0f4360;
  letter-spacing: 0;
  text-transform: lowercase;
  display: inline;
}
.bonus-form-block,
.remodal-form {
  width: 100%;
  min-height: 510px;
  background-color: #FEDF84;
  border-radius: 5px;
  padding: 40px 50px;
}
.bonus-form-block p,
.remodal-form p {
  margin-bottom: 45px;
}
.bonus-form-block .input-group,
.remodal-form .input-group {
  width: 270px;
  height: 60px;
  border-radius: 5px;
  border-top: 1px solid #776236;
  border-left: 1px solid #D1B56A;
  border-right: 1px solid #D1B56A;
  margin-bottom: 13px;
  overflow: hidden;
  -webkit-box-shadow: 0px -1px 0px 0px #d1b56a;
  -moz-box-shadow: 0px -1px 0px 0px #d1b56a;
  box-shadow: 0px -1px 0px 0px #d1b56a;
}
.bonus-form-block .input-group input,
.remodal-form .input-group input {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.bonus-form-headline {
  font-family: 'Merriweather', serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
.bonus-btn {
  width: 270px;
  height: 60px;
}
/*  Timer */
#countbox {
  color: #0f4360;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  height: 93px;
  line-height: 70px;
  padding: 0;
  width: 385px;
  font-weight: 700;
  background: #fff;
  border: 1px solid #A1DAE4;
  border-radius: 3px;
  margin-bottom: 50px;
}
#countbox .countbox-num {
  width: 86px;
  height: 100px;
  float: left;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-left: 15px;
}
#countbox .countbox-space {
  float: left;
  height: 90px;
  width: 8px;
}
#countbox-days1,
#countbox-hours1,
#countbox-mins1,
#countbox-secs1,
#countbox-days2,
#countbox-hours2,
#countbox-mins2,
#countbox-secs2 {
  background-image: url('../images/flip.png');
  background-repeat: no-repeat;
  float: left;
  height: 67px;
  margin: 0 -4px 0 0;
  padding-left: 10px;
  text-align: center;
  width: 27px;
  z-index: 1;
}
#countbox .countbox-num__sec {
  color: #de3c54;
}
#countbox-days-text,
#countbox-hours-text,
#countbox-mins-text,
#countbox-secs-text {
  margin-top: 0.8rem;
  position: relative;
  width: 2.8rem;
  font-size: 1.8rem;
  color: #0f4360;
}
#countbox-days-text:before {
  position: absolute;
  top: 25px;
  left: 10px;
  display: block;
  content: "день";
}
#countbox-hours-text:before {
  position: absolute;
  top: 25px;
  left: 10px;
  display: block;
  content: "часов";
}
#countbox-mins-text:before {
  content: "минут";
  position: absolute;
  top: 25px;
  left: 10px;
  display: block;
}
#countbox-secs-text:before {
  content: "секунд";
  position: absolute;
  top: 25px;
  left: 5px;
  display: block;
  color: #de3c54;
}
#countbox-days2,
#countbox-hours2,
#countbox-mins2 {
  position: relative;
}
#countbox-days2:after,
#countbox-hours2:after,
#countbox-mins2:after {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 19px;
  top: 52%;
  right: -26px;
  background: url("images/timer-separator-bg.jpg") no-repeat top center;
}
/*  End Timer */
.delivery {
  position: relative;
  width: 100%;
  min-height: 844px;
  background: url("images/delivery-bg.png") no-repeat top center;
  padding-top: 80px;
}
.delivery-info {
  position: absolute;
  max-width: 400px;
  right: 15%;
  bottom: 14%;
  display: none;
}
.delivery-info p {
  color: #fff;
}
.certificates {
  width: 100%;
  height: auto;
  padding-top: 50px;
  margin-bottom: -30px;
}
.certificates-headline {
  margin-bottom: 90px;
}
.certificates-item p {
  font-weight: 700;
  padding-left: 13px;
}
.certificate-inner {
  background: url("images/certificates-item-bg.jpg") no-repeat bottom left;
  padding-left: 13px;
  padding-bottom: 13px;
  margin-bottom: 30px;
}
/*--- become-partner ---*/
.become-partner {
  position: relative;
  width: 100%;
  min-height: 1521px;
  background: url("images/become-partner-bg.png") no-repeat top center;
  padding-top: 91px;
  margin-bottom: -10px;
  z-index: 100;
}
.become-partner-headline {
  margin-bottom: 155px;
}
.become-partner-steps {
  width: 100%;
  min-height: 250px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.become-partner-steps p {
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 20px;
}
.become-partner-step-1 {
  background: url("images/become-partner-step-1-bg.jpg") no-repeat top center;
}
.become-partner-step-2 {
  background: url("images/become-partner-step-2-bg.jpg") no-repeat top center;
}
.become-partner-step-3 {
  background: url("images/become-partner-step-3-bg.jpg") no-repeat top center;
}
.become-partner-step-4 {
  background: url("images/become-partner-step-4-bg.jpg") no-repeat top center;
}
.become-partner-i-block {
  display: table;
  min-height: 250px;
}
.become-partner-inner {
  display: table-cell;
  vertical-align: middle;
}
.become-parter-btn {
  max-width: 270px;
  height: 60px;
  line-height: 60px;
}
.step-number {
  width: 175px;
  height: 175px;
  font-family: 'Merriweather', serif;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  border: 10px solid #fff;
  border-radius: 50%;
  background: #A1DAE4;
  padding-top: 30px;
  margin: 40px auto 0;
}
.contacts {
  width: 100%;
  min-height: 710px;
  background: url("images/contacts-bg.jpg") no-repeat top center;
}
.contacts-wrap {
  width: 100%;
  background: #A7DAE3;
  border-radius: 3px;
  padding: 50px 45px;
  margin-top: 80px;
}
.contacts-headline {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}
@media only screen and (min-width: 320px) {
  .contacts-headline {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-headline {
    font-size: 27.69230769px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-headline {
    font-size: 36px;
  }
}
.address {
  margin-bottom: 20px;
}
.phones {
  display: block;
}
.contacts-questions {
  font-weight: 700;
  margin: 20px 0;
}
@media only screen and (min-width: 320px) {
  .contacts-questions {
    font-size: 13.33333333px;
  }
}
@media only screen and (min-width: 768px) {
  .contacts-questions {
    font-size: 15.38461538px;
  }
}
@media only screen and (min-width: 992px) {
  .contacts-questions {
    font-size: 20px;
  }
}
.cont-text {
  font-size: 16px;
  margin-bottom: 25px;
}
.contacts-btn {
  border-style: solid;
  border-width: 1px;
  border-color: #196393;
  border-radius: 5px;
  background-image: -moz-linear-gradient(0deg, #0d3f5e 0%, #0b2839 100%);
  background-image: -webkit-linear-gradient(0deg, #0d3f5e 0%, #0b2839 100%);
  background-image: -ms-linear-gradient(0deg, #0d3f5e 0%, #0b2839 100%);
  box-shadow: 0px 2px 5px 0px rgba(49, 39, 26, 0.004);
  width: 100%;
  font-size: 14px;
  color: #fff;
  padding: 15px 0;
  transition: 0.5s ease;
}
.contacts-btn:hover {
  text-decoration: none;
  color: #fff;
  background: #0b2839;
  background: -moz-linear-gradient(30deg, #0b2839 30%, #0d3f5e 70%);
  background: -webkit-linear-gradient(30deg, #0b2839 30%, #0d3f5e 70%);
  background: -o-linear-gradient(30deg, #0b2839 30%, #0d3f5e 70%);
  background: -ms-linear-gradient(30deg, #0b2839 30%, #0d3f5e 70%);
  background: linear-gradient(120deg, #0b2839 30%, #0d3f5e 70%);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 3px 5px 0px rgba(50, 50, 50, 0.75);
}
.main-footer {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.logo-text-footer {
  text-align: center;
  padding-top: 35px;
}
.logo-text-footer p,
.logo-text-footer a {
  margin-bottom: 0;
  font-size: 16px;
}
.logo-text-footer a {
  color: #328bf0;
}
.production {
  text-align: right;
  padding-top: 35px;
}
.production p {
  font-size: 16px;
}
.production span {
  color: #328bf0;
  text-decoration: underline;
}
/*--- Modals ---*/
.remodal {
  background: transparent;
  padding: 35px 0;
}
.remodal-form {
  max-width: 367px;
  margin: 0 auto;
  text-align: left;
}
.remodal-close:hover {
  color: #FEDF84;
}
